---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-pihole
spec:
  chartRef:
    kind: OCIRepository
    name: external-dns-pihole
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    domainFilters:
      - "${SECRET_DOMAIN}"
    env:
      - name: &name EXTERNAL_DNS_PIHOLE_PASSWORD
        valueFrom:
          secretKeyRef:
            key: *name
            name: &secret external-dns-pihole
      - name: EXTERNAL_DNS_PIHOLE_API_VERSION
        value: "6"
      - name: EXTERNAL_DNS_PIHOLE_TLS_SKIP_VERIFY
        value: "true"
    extraArgs:
      - --pihole-server=http://192.168.0.100
      - --gateway-name=envoy-internal
    fullnameOverride: *app
    logLevel: debug
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
    policy: upsert-only
    provider: pihole
    registry: noop
    serviceMonitor:
      enabled: true
    sources:
      - gateway-httproute
      - service
    triggerLoopOnEvent: true
