---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tdarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      tdarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/haveagitgat/tdarr
              tag: 2.58.02@sha256:20a5656c4af4854e1877046294f77113f949d27e35940a9a65f231423d063207
              pullPolicy: IfNotPresent
            env:
              TZ: America/Los_Angeles
              PGID: "8675309"
              PUID: "10070"
              internalNode: false
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 8675309
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44]
    service:
      app:
        controller: *app
        type: LoadBalancer
        ports:
          http:
            port: ${APP_PORT}
          server:
            enabled: true
            protocol: TCP
            port: 8266
    persistence:
      app-server:
        existingClaim: *app
        globalMounts:
          - path: /app/server
      cache:
        type: nfs
        server: nas0.internal
        path: /tank/transcode/tdarr/transcode-cache
        globalMounts:
          - path: /cache
      movies:
        type: nfs
        server: nas0.internal
        path: /tank/media/movies
        globalMounts:
          - path: /movies
      tv:
        type: nfs
        server: nas0.internal
        path: /tank/media/tv
        globalMounts:
          - path: /tv
