---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tdarr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      tdarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/haveagitgat/tdarr
              tag: 2.54.01@sha256:a1bcb1739e5355f41f2f9b9006040d6b27987e4d62aec15e7c161fe8833da27d
              pullPolicy: IfNotPresent
            env:
              TZ: America/Los_Angeles
              PGID: "8675309"
              PUID: "10070"
              internalNode: false
            resources:
              requests:
                cpu: 100m
              limits:
                gpu.intel.com/i915: 1
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 8675309
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44]
    service:
      app:
        controller: tdarr
        ports:
          http:
            port: &port 8265
          server:
            port: 8266
    ingress:
      tdarr:
        className: internal
        hosts:
          - host: tdarr.chezlawrence.com
            paths:
              - path: /
                service:
                  identifier: app
                  port: *port
    persistence:
      app-server:
        existingClaim: tdarr
        globalMounts:
          - path: /app/server
      cache:
        type: nfs
        server: nas0.internal
        path: /tank/transcode/tdarr/transcode-cache
        globalMounts:
          - path: /cache
      movies:
        type: nfs
        server: nas0.internal
        path: /tank/media/movies
        globalMounts:
          - path: /movies
      tv:
        type: nfs
        server: nas0.internal
        path: /tank/media/tv
        globalMounts:
          - path: /tv
