---
originRequest:
  originServerName: "external.${SECRET_DOMAIN}"

ingress:
  # Add new rules for Envoy Gateway during the transition period
  - hostname: "auth.${SECRET_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "auth.${SECRET_DOMAIN}"

  - hostname: "echo.${SECRET_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "echo.${SECRET_DOMAIN}"

  - hostname: "kromgo.${SECRET_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "kromgo.${SECRET_DOMAIN}"

  - hostname: "status.${SECRET_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "status.${SECRET_DOMAIN}"

  - hostname: "rss.${SECRET_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      originServerName: "rss.${SECRET_DOMAIN}"

  - hostname: "${SECRET_DOMAIN}"
    service: &svc https://external-ingress-nginx-controller.network.svc.cluster.local:443
  - hostname: "*.${SECRET_DOMAIN}"
    service: *svc
  - service: http_status:404
