---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: home-assistant
  interval: 1h
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.1.3@sha256:9f094e0531e5784d1df9bcb817d95830d1da9d4a03c914f8fd1b3cc6168c4e65
            env:
              TZ: America/Los_Angeles
              HASS_HTTP_TRUSTED_PROXY_1: 192.168.0.0/21
              HASS_HTTP_TRUSTED_PROXY_2: 10.192.0.0/16
              HASS_HTTP_TRUSTED_PROXY_3: 127.0.0.1/32
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            securityContext:
              privileged: true
              readOnlyRootFilesystem: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.108.2@sha256:31ad23cda720476e7eb3371a9b02fd7a5738843f6ef43beef97e9edf1960fc47
            args:
              - "--auth"
              - "none"
              - "--disable-telemetry"
              - "--disable-update-check"
              - "--user-data-dir"
              - "/config/.vscode"
              - "--extensions-dir"
              - "/config/.vscode"
              - "--port"
              - "12321"
              - "/config"
            env:
              HASS_SERVER: "http://localhost:${APP_PORT}"
              HASS_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: home-assistant-secret
                    key: VSCODE_ACCESS_TOKEN
            resources:
              requests:
                cpu: 10m
                memory: 1Gi
              limits:
                memory: 1Gi
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: "nabu-casa.feature.node.kubernetes.io/zbt-2"
                  operator: "In"
                  values:
                    - "true"
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [20]
    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/ws
            port: ${APP_PORT}
          code-server:
            port: ${CODE_PORT}
    persistence:
      config:
        existingClaim: home-assistant
        advancedMounts:
          home-assistant:
            app:
              - path: /config
            code-server:
              - path: /config
      # https://community.home-assistant.io/t/wth-is-going-on-with-docker-container-installs-and-third-party-integrations-that-need-python-modules/806430/6
      hack:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /.dockerenv
                subPath: .dockerenv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /tmp
                subPath: hass-tmp
            code-server:
              - path: /tmp
                subPath: code-server-tmp
              - path: /nonexistent
                subPath: nonexistent
      usb:
        type: hostPath
        hostPath: /dev/serial/by-id/usb-Nabu_Casa_ZBT-2_1CDBD45CF864-if00
        globalMounts:
          - path: /dev/ttyACM0
