---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app drawio
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      drawio:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/jgraph/drawio
              tag: latest@sha256:324fc8d667319a2249d36cd6e7bc4b6a528611834513d039cecc6bf5cef195d8
              pullPolicy: IfNotPresent
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
    service:
      app:
        controller: *app
        ipFamilyPolicy: PreferDualStack
        ports:
          http:
            port: ${APP_PORT}
