# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app scanservjs
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  dependsOn: []
  interval: 15m
  values:
    controllers:
      scanservjs:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: sbs20/scanservjs
              tag: v3.0.4@sha256:e42263444a8dd5d533ead7d9eb2ef5fd9ca7a4a80569a6f9c14b7a3c21b9c7ca
            command: /bin/sh
            args: [-c, service dbus start && /entrypoint.sh]
            env:
              SANED_HOSTS: "brother-printer.internal"
              TZ: America/Los_Angeles
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 250Mi
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              # capabilities:
              #   drop:
              #     - ALL
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 10100
        runAsGroup: 8675309
        fsGroup: 8675309
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: ${APP_PORT}
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /var/lib/scanservjs
      output:
        type: nfs
        server: nas0.internal
        path: /tank/media/scans
        globalMounts:
          - path: /var/lib/scanservjs/output
      scan-temp:
        type: emptyDir
        globalMounts:
          - path: /var/lib/scanservjs/temp
      dbus:
        type: emptyDir
        globalMounts:
          - path: /var/run/dbus
