---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app jrommanager
spec:
  targetNamespace: self-hosted
  interval: 30m
  retryInterval: 2m
  timeout: 5m
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  path: ./kubernetes/apps/self-hosted/jrommanager/app
  postBuild:
    substitute:
      APP: *app
      APP_PORT: "8080"
      VOLSYNC_CAPACITY: 25Gi
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
