---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-cloudflare
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: external-dns-cloudflare
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *app
    provider: cloudflare
    domainFilters: ["${SECRET_DOMAIN}"]
    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: external-dns-cloudflare-secret
            key: api-token
    extraArgs:
      - --cloudflare-dns-records-per-page=1000
      - --cloudflare-proxied
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --events
      - --gateway-name=envoy-external
    podAnnotations:
      secret.reloader.stakater.com/reload: external-dns-secret
    policy: sync
    serviceMonitor:
      enabled: true
    sources:
      - crd
      - gateway-httproute
    txtPrefix: k8s.
    txtOwnerId: default
