---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: authentik
  namespace: security
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Infra
    gethomepage.dev/name: Authentik
    gethomepage.dev/icon: authentik.png
    gethomepage.dev/siteMonitor: "http://authentik-server.security.svc.cluster.local:80"
    gethomepage.dev/pod-selector: app.kubernetes.io/name=authentik
    gethomepage.dev/widget.type: authentik
    gethomepage.dev/widget.url: "http://authentik-server.security.svc.cluster.local:80"
    gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_AUTHENTIK_API_KEY}}"
spec:
  hostnames:
    - "auth.${SECRET_DOMAIN}"
  parentRefs:
    - name: envoy-external
      namespace: network
  rules:
    - backendRefs:
        - name: authentik-server
          port: 80
      matches:
        - path:
            type: PathPrefix
            value: /