---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/common
  - ../../components/repos/app-template
resources:
  - ./atuin/ks.yaml
  - ./drawio/ks.yaml
  - ./echo/ks.yaml
  - ./excalidraw/ks.yaml
  - ./homepage/ks.yaml
  - ./it-tools/ks.yaml
  - ./miniflux/ks.yaml
  - ./manyfold/ks.yaml
  - ./paperless/ks.yaml
  - ./syncthing/ks.yaml
  - ./tandoor/ks.yaml
