---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app silence-operator
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      silence-operator:
        serviceAccount:
          identifier: *app
        pod:
          securityContext:
            runAsUser: 65534
            runAsNonRoot: true
        containers:
          silence-operator:
            image:
              repository: quay.io/giantswarm/silence-operator
              tag: 0.19.0@sha256:e4d7897100d570dcccc26419e4a5aa754af73703486ac5bc1d990374e423667b
            args:
              - --leader-elect
              - --metrics-bind-address=:8080
              - --alertmanager-address=http://alertmanager.observability.svc.cluster.local:9093
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    serviceAccount:
      silence-operator: {}
