---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app spoolman
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      spoolman:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
            envFrom: &envFrom
              - secretRef:
                  name: spoolman-secret
        containers:
          spoolman:
            image:
              repository: ghcr.io/donkie/spoolman
              tag: 0.23.0@sha256:6606dcbbabfc75db207c07d5a8db6162b1e5ed0768750881f306b6328e14145b
            command:
              - uvicorn
              - spoolman.main:app
              - --host
              - 0.0.0.0
              - --port
              - "8000"
            env:
              SPOOLMAN_DB_TYPE: postgres
              SPOOLMAN_METRICS_ENABLED: "true"
              TZ: America/Los_Angeles
            envFrom: *envFrom
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      data:
        existingClaim: ${APP}
        globalMounts:
          - path: /home/app/.local/share/spoolman
    service:
      spoolman:
        controller: spoolman
        type: ClusterIP
        ports:
          http:
            port: ${APP_PORT}
    serviceMonitor:
      spoolman:
        serviceName: spoolman
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
            metricRelabelings:
              - action: labeldrop
                regex: (pod)