---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app manyfold
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      manyfold:
        forceRename: *app
        annotations:
          secret.reloader.stakater.com/reload: manyfold-secret
        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
        initContainers:
          chown-tmpdirs:
            image:
              repository: docker.io/library/alpine
              tag: "3.23"
            command:
              - /bin/sh
              - -c
            args:
              - |
                chmod o-rwx /tmp
            securityContext:
              runAsUser: 0
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: manyfold-secret
        containers:
          main:
            image:
              repository: ghcr.io/bjw-s-labs/manyfold
              tag: 0.132.0@sha256:eff68121c9331f67f86d128267647f414369a8ce88fbd2cb052a81b7fa2aabc8
            env:
              PORT: &httpPort ${APP_PORT}
              REDIS_URL: redis://dragonfly.database.svc.cluster.local:6379/4
              REGISTRATION: false
              SECRET_KEY_BASE:
                valueFrom:
                  secretKeyRef:
                    name: manyfold-secret
                    key: MANYFOLD_SECRET_KEY
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *httpPort
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 20m
                memory: 128Mi
              limits:
                memory: 1536Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        forceRename: *app
        primary: true
        controller: *app
        ports:
          http:
            port: *httpPort
    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          manyfold:
            main:
              - path: /data/libraries/main
                subPath: libraries/main
      tmpfs:
        type: emptyDir
        advancedMounts:
          manyfold:
            main: &tmpdirs
              - path: /tmp
                subPath: host-tmp
              - path: /app/tmp
                subPath: app-tmp
              - path: /app/log
                subPath: app-log
            chown-tmpdirs: *tmpdirs
