---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ollama
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: intel.feature.node.kubernetes.io/gpu
                  operator: In
                  values:
                    - "true"
    controllers:
      ollama:
        pod:
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values: ["plex"]
                  topologyKey: kubernetes.io/hostname
        containers:
          app:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.15.6@sha256:5f7a20da9b4d42d1909b4693f90942135bcabc335ee42d529c0d143c44a92311
            env:
              HOME: /config
              OLLAMA_DEBUG: "1"
              OLLAMA_FLASH_ATTENTION: "1"
              OLLAMA_MODELS: &modelPath /models
              OLLAMA_VULKAN: "1"
              OLLAMA_HOST: "0.0.0.0"
              GGML_VK_DISABLE_INTEGER_DOT_PRODUCT: "1"
            resources:
              claims:
                - name: gpu
              requests:
                cpu: "2"
                memory: "16Gi"
              limits:
                cpu: "8"
                memory: "32Gi"
            securityContext:
              privileged: false
              capabilities:
                add:
                  - SYS_ADMIN
            probes:
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 11434
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 11434
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup: *probe
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: ollama-gpu
    service:
      app:
        ports:
          http:
            port: ${APP_PORT}
    persistence:
      models:
        enabled: true
        existingClaim: ollama-models
        advancedMounts:
          ollama:
            app:
              - path: *modelPath
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      dev:
        type: hostPath
        hostPath: /dev/dri
        globalMounts:
          - readOnly: true
