---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ollama
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: intel.feature.node.kubernetes.io/gpu
                  operator: In
                  values:
                    - "true"
    controllers:
      ollama:
        pod:
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values: ["plex"]
                  topologyKey: kubernetes.io/hostname
        containers:
          app:
            image:
              repository: intelanalytics/ipex-llm-inference-cpp-xpu
              tag: 2.3.0-SNAPSHOT
            command:
              - sh
              - -c
              - >-
                mkdir -p /llm/ollama && cd /llm/ollama && init-ollama && exec ./ollama serve
            env:
              OLLAMA_MODELS: &modelPath /models
              OLLAMA_HOST: "0.0.0.0"
              no_proxy: "localhost,127.0.0.1"
              DEVICE: "Arc"
              OLLAMA_INTEL_GPU: "true"
              OLLAMA_NUM_GPU: "999"
              ZES_ENABLE_SYSMAN: "1"
            resources:
              claims:
                - name: gpu
              requests:
                cpu: "2"
                memory: "8Gi"
              limits:
                cpu: "8"
                memory: "16Gi"
            securityContext:
              privileged: false
              capabilities:
                add:
                  - SYS_ADMIN
            probes:
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 11434
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 11434
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              startup: *probe
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: ollama-gpu
    service:
      app:
        ports:
          http:
            port: &port 11434
    ingress:
      app:
        className: internal
        hosts:
          - host: ollama.chezlawrence.com
            paths:
              - path: /
                service:
                  identifier: app
                  port: *port
    persistence:
      models:
        enabled: true
        existingClaim: ollama-models
        advancedMounts:
          ollama:
            app:
              - path: *modelPath
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /root/.ollama
      dev:
        type: hostPath
        hostPath: /dev/dri
        globalMounts:
          - readOnly: true
