# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://192.168.6.0:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "192.168.6.0"
  - "cluster.chezlawrence.com"
additionalMachineCertSans: *sans

clusterPodNets: ["10.192.0.0/16"]
clusterSvcNets: ["10.193.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "k8s-00"
    ipAddress: "192.168.1.10"
    installDiskSelector:
      serial: "24494CB39CDC"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/f63411a34575cb0dda75ed28b0a7ce5aa9cd427cf7a37093b8dea43b5a64defd
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "58:47:ca:7a:ea:95"
        dhcp: false
        addresses:
          - "192.168.1.10/21"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.0.1"
        mtu: 1500
        vip:
          ip: "192.168.6.0"
      - deviceSelector:
          hardwareAddr: "58:47:ca:7a:ea:92"
        dhcp: false
        addresses:
          - 10.30.1.0/16
        mtu: 9000
  - hostname: "k8s-01"
    ipAddress: "192.168.1.11"
    installDiskSelector:
      serial: "25044DBF2A09"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/f63411a34575cb0dda75ed28b0a7ce5aa9cd427cf7a37093b8dea43b5a64defd
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "58:47:ca:7b:c3:d9"
        dhcp: false
        addresses:
          - "192.168.1.11/21"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.0.1"
        mtu: 1500
        vip:
          ip: "192.168.6.0"
      - deviceSelector:
          hardwareAddr: "58:47:ca:7b:c3:d6"
        dhcp: false
        addresses:
          - 10.30.1.1/16
        mtu: 9000
  - hostname: "k8s-02"
    ipAddress: "192.168.1.12"
    installDiskSelector:
      serial: "25044DBF61EE"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/f63411a34575cb0dda75ed28b0a7ce5aa9cd427cf7a37093b8dea43b5a64defd
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "58:47:ca:7a:e6:71"
        dhcp: false
        addresses:
          - "192.168.1.12/21"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.0.1"
        mtu: 1500
        vip:
          ip: "192.168.6.0"
      - deviceSelector:
          hardwareAddr: "58:47:ca:7a:e6:6e"
        dhcp: false
        addresses:
          - 10.30.1.2/16
        mtu: 9000
  - hostname: "k8s-03"
    ipAddress: "192.168.1.13"
    installDiskSelector:
      serial: "24524D2E3C5E"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/f63411a34575cb0dda75ed28b0a7ce5aa9cd427cf7a37093b8dea43b5a64defd
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "58:47:ca:7f:7e:8b"
        dhcp: false
        addresses:
          - "192.168.1.13/21"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.0.1"
        mtu: 1500
        vip:
          ip: "192.168.6.0"
      - deviceSelector:
          hardwareAddr: "58:47:ca:7f:7e:88"
        dhcp: false
        addresses:
          - 10.30.1.3/16
        mtu: 9000
  - hostname: "k8s-04"
    ipAddress: "192.168.1.14"
    installDiskSelector:
      serial: "24524D2E4CCA"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/f63411a34575cb0dda75ed28b0a7ce5aa9cd427cf7a37093b8dea43b5a64defd
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "58:47:ca:7f:7e:93"
        dhcp: false
        addresses:
          - "192.168.1.14/21"
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.0.1"
        mtu: 1500
        vip:
          ip: "192.168.6.0"
      - deviceSelector:
          hardwareAddr: "58:47:ca:7f:7e:90"
        dhcp: false
        addresses:
          - 10.30.1.4/16
        mtu: 9000

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-sysfs.yaml"
  - "@./patches/global/machine-time.yaml"
  - "@./patches/global/machine-udev-rules.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"
    - "@./patches/controller/mutatingadmissionpolicy.yaml"
    - "@./patches/controller/talos-api-access.yaml"
