---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app convertx
spec:
  chartRef:
    kind: OCIRepository
    name: convertx
  interval: 30m
  values:
    controllers:
      convertx:
        pod:
          securityContext:
            runAsUser: &uid 568
            runAsGroup: *uid
            fsGroup: *uid
            fsGroupChangePolicy: OnRootMismatch
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/c4illin/convertx
              tag: v0.17.0@sha256:e1f85be04bbaf8a55ead9261194c3ae0fa0957d303ea537127154860b2552afd
            env:
              TZ: America/Los_Angeles
              ACCOUNT_REGISTRATION: false
              HTTP_ALLOWED: false
              ALLOW_UNAUTHENTICATED: true
              AUTO_DELETE_EVERY_N_HOURS: 1
            resources:
              claims:
                - name: gpu
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthcheck
                    port: &port ${APP_PORT}
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: convertx-gpu
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /app/data
      tmp:
        type: emptyDir