---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      plex:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10467@sha256:fa62165df48d04e9a418805951e903f831dec0e0601f4dc4245f9948d7fd719b
              pullPolicy: IfNotPresent
            env:
              TZ: America/Los_Angeles
              PLEX_ADVERTISE_URL: "https://plex.${SECRET_DOMAIN}:443,http://192.168.5.101:32400"
              PLEX_NO_AUTH_NETWORKS: 192.168.0.0/16
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port ${APP_PORT}
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
              limits:
                memory: 16Gi
    defaultPodOptions:
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: "true"
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: plex-gpu
      securityContext:
        runAsNonRoot: true
        runAsUser: 10050
        runAsGroup: 8675309
        fsGroup: 8675309
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44]
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.5.101
        ports:
          http:
            port: *port
    persistence:
      config:
        existingClaim: *app
      config-cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
      live-tv:
        type: nfs
        server: nas0.internal
        path: /tank/media/live-tv
        globalMounts:
          - path: /mnt/live-tv
      movies:
        type: nfs
        server: nas0.internal
        path: /tank/media/movies
        globalMounts:
          - path: /mnt/movies
            readOnly: true
      music:
        type: nfs
        server: nas0.internal
        path: /tank/media/music
        globalMounts:
          - path: /mnt/music
            readOnly: true
      tv:
        type: nfs
        server: nas0.internal
        path: /tank/media/tv
        globalMounts:
          - path: /mnt/tv
            readOnly: true
      youtube:
        type: nfs
        server: nas0.internal
        path: /tank/media/youtube
        globalMounts:
          - path: /mnt/youtube
            readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          plex:
            app:
              - path: /config/Library/Application Support/Plex Media Server/Logs
                subPath: logs
              - path: /transcode
                subPath: transcode
              - path: /tmp
                subPath: tmp
