---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pgadmin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      pgadmin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/dpage/pgadmin4
              tag: "9.10@sha256:8c128407f45f1c582eda69e71da1a393237388469052e3cc1e6ae4a475e12b70"
              pullPolicy: IfNotPresent
            env:
              PGADMIN_DISABLE_POSTFIX: "true"
            envFrom:
              - secretRef:
                  name: pgadmin-secret
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                add: ["NET_BIND_SERVICE"]
                drop: ["ALL"]
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 5050
        runAsGroup: 5050
        fsGroup: 5050
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        existingClaim: ${APP}
        advancedMounts:
          pgadmin:
            app:
              - path: /var/lib/pgadmin
                subPath: pgadmin
      empty:
        type: emptyDir
        sizeLimit: 100Mi
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /var/log
            subPath: log
    ingress:
      app:
        className: internal
        hosts:
          - host: pgadmin.chezlawrence.com
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    service:
      app:
        controller: pgadmin
        ports:
          http:
            port: 80
