---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: syncthing
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: syncthing
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      syncthing:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/syncthing/syncthing
              tag: 2.0.12@sha256:7ae77d066e9b81d3d8c312b2f9e1a874a5115680bfde90aff5fc9aece694ec93
            env:
              TZ: America/Los_Angeles
              PGID: 1000
              PUID: 1000
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /rest/noauth/health
                    port: &port 8384
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
      transfer:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.5.102
        # See https://github.com/syncthing/syncthing/blob/e46a0f99c34cf7e0841bb83b9e050b44bdc42238/README-Docker.md for ports
        ports:
          transfer:
            port: 22000
            protocol: TCP
          transfer-quic:
            port: 22000
            protocol: UDP
          discovery:
            port: 21027
            protocol: UDP
    ingress:
      app:
        className: internal
        hosts:
          - host: syncthing.chezlawrence.com
            paths:
              - path: /
                service:
                  identifier: app
                  port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /var/syncthing
      data:
        type: nfs
        server: nas0.internal
        path: /tank/backups/syncthing
        globalMounts:
          - path: /data