---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app epicgames-freegames
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    controllers:
      epicgames:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/claabs/epicgames-freegames-node
              tag: latest@sha256:51ca4de773ed84fcf36c14445825439af2bbbf11cb36356b58885b80c14e2f5d
              pullPolicy: IfNotPresent
            env:
              TZ: America/Los_Angeles
              BASE_URL: "https://epic.${SECRET_DOMAIN}"
              CRON_SCHEDULE: "0 0,6,12,18 * * *"  # every six hours
              RUN_ON_STARTUP: "true"
              SEARCH_STRATEGY: all
              SERVER_PORT: &port 3000
            envFrom:
              - secretRef:
                  name: epicgames-freegames-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 2000Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: epicgames
        ports:
          http:
            port: *port
    persistence:
      config:
        type: emptyDir
        globalMounts:
          - path: /usr/app/config
      config-secret:
        enabled: true
        type: secret
        name: epicgames-freegames-secret
        globalMounts:
          - path: /usr/app/config/config.json
            subPath: config.json
            readOnly: true
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
