---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: mariadb-operator
      version: 0.33.0
      sourceRef:
        kind: HelmRepository
        name: mariadb-operator
        namespace: database
  dependsOn:
    - name: mariadb-operator-crds
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      pullPolicy: IfNotPresent
    currentNamespaceOnly: false
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        interval: 1m
    webhook:
      cert:
        certManager:
          enabled: true
      serviceMonitor:
        enabled: true
        interval: 1m
    ha:
      enabled: true
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 128Mi
