---
apiVersion: v1
metadata:
  name: privileged-pod
  namespace: default
spec:
  containers:
    - name: debug
      image: ubuntu:latest
      command: ["/usr/bin/bash"]
      stdin: true
      stdinOnce: true
      tty: true
      securityContext:
        allowPrivilegeEscalation: true
        privileged: true
      volumeMounts:
        - mountPath: /rootfs
          name: rootfs
        - mountPath: /sys/firmware/efi/efivars
          name: efivars
        - mountPath: /run/containerd
          name: containerd
  dnsPolicy: ClusterFirstWithHostNet
  hostIPC: true
  hostNetwork: true
  hostPID: true
  nodeName: ${NODE}
  restartPolicy: Never
  volumes:
    - name: rootfs
      hostPath:
        path: /
    - name: efivars
      hostPath:
        path: /sys/firmware/efi/efivars
    - name: containerd
      hostPath:
        path: /run/containerd
