---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wordpress-poc
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      wordpress-poc:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          imagePullSecrets:
            - name: ghcr-registry
        containers:
          app:
            image:
              repository: ghcr.io/patsoffice/patsoffice-wordpress-image
              tag: v6.9.1-5@sha256:9042df5352920eba37d41cc4866bf1bbe10515602867c08099b4dc593c7da0d5
              pullPolicy: IfNotPresent
            env:
              WORDPRESS_DB_HOST: mariadb-wordpress-poc.database.svc.cluster.local
              WORDPRESS_DB_NAME: wordpress
              XDG_CONFIG_HOME: /tmp
              XDG_DATA_HOME: /tmp
            envFrom:
              - secretRef:
                  name: wordpress-poc-secret
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
                add: ["SETUID", "SETGID", "NET_BIND_SERVICE"]
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 2048Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: 80
    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          wordpress-poc:
            app:
              - path: /var/www/html/wp-content/uploads
      tmp:
        type: emptyDir
        advancedMounts:
          wordpress-poc:
            app:
              - path: /tmp
