---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app etcd-backup
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      etcd-backup:
        type: cronjob
        cronjob:
          schedule: "12 4 * * *"
          parallelism: 1
          successfulJobsHistory: 1
          failedJobsHistory: 1
        initContainers:
          talosctl:
            image:
              repository: ghcr.io/siderolabs/talosctl
              tag: v1.12.2@sha256:94425fac31d7685e9af3f912e7dc8f895a7167429f57b058f7cb7b6f5afa77c5
            args:
              - -n
              - "$(CP_NODE_IP)"
              - etcd
              - snapshot
              - /data/etcd.snapshot
            env:
              - name: CP_NODE_IP
                value: "192.168.1.10"
        containers:
          restic:
            image:
              repository: ghcr.io/restic/restic
              tag: 0.18.1@sha256:c1958a2a1c8614f5c317347c2aaddd9f426076f0521430b55509eba43d7516ee
            workingDir: /data
            args:
              - backup
              - --host
              - kubernetes # set a consistent hostname to avoid restic rescans
              - . # use workingDir to get relative paths in backup
            envFrom:
              - secretRef:
                  name: talos-etcd-s3-keys
        pod:
          hostNetwork: true
          hostPID: true
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
      prune:
        type: cronjob
        cronjob:
          schedule: "32 5 1 * *" # change me - 1st of month at 05:32
          successfulJobsHistory: 1
          failedJobsHistory: 1
        containers:
          restic:
            image:
              repository: ghcr.io/restic/restic
              tag: 0.18.1@sha256:c1958a2a1c8614f5c317347c2aaddd9f426076f0521430b55509eba43d7516ee
            args:
              - forget
              - --keep-last=7 # change me - set retention policy
              - --keep-weekly=4 # see: https://restic.readthedocs.io/en/latest/060_forget.html
              - --prune
            envFrom:
              - secretRef:
                  name: talos-etcd-s3-keys
    persistence:
      backupdata:
        type: emptyDir
        globalMounts:
          - path: /data
      serviceaccount:
        type: secret
        name: etcd-backup-talos
        advancedMounts:
          etcd-backup:
            talosctl:
              - path: /var/run/secrets/talos.dev
                readOnly: true
