---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tandoor
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  install:
    remediation:
      retries: -1
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      tandoor:
        annotations:
          secret.reloader.stakater.com/reload: &secret tandoor-secret
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: *secret
        containers:
          app:
            image:
              repository: ghcr.io/tandoorrecipes/recipes
              tag: 2.3.6@sha256:5cd01ba0473a48878db3ed9b2c6f2c5db12b68649e169ce9cfa43f052fb0aa95
              pullPolicy: IfNotPresent
            env:
              COMMENT_PREF_DEFAULT: 0
              DEBUG: 1
              ENABLE_SIGNUP: 0
              FRACTION_PREF_DEFAULT: 0
              GUNICORN_MEDIA: 0
              MAX_OWNED_SPACES_PREF_DEFAULT: 1000
              SHOPPING_MIN_AUTOSYNC_INTERVAL: 5
              TANDOOR_PORT: &tandoorPort 8000
            envFrom:
              - secretRef:
                  name: *secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /accounts/login/
                    port: *tandoorPort
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /accounts/login/
                    port: *tandoorPort
                  failureThreshold: 30
                  periodSeconds: 10
          nginx:
            image:
              repository: nginxinc/nginx-unprivileged
              tag: 1.29.3-alpine@sha256:c3b9dd893f9ecd7046d3ac37b0dc218ff3c65fe53acd5cb5e1f97f3988272760
              pullPolicy: IfNotPresent
    service:
      app:
        controller: *app
        ports:
          http:
            port: ${APP_PORT}
    persistence:
      files:
        existingClaim: *app
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/mediafiles
                subPath: mediafiles
              - path: /opt/recipes/staticfiles
                subPath: staticfiles
            nginx:
              - path: /media
                subPath: mediafiles
              - path: /static
                subPath: staticfiles
      nginx-config:
        type: configMap
        name: tandoor-nginx
        advancedMounts:
          tandoor:
            nginx:
              - path: /etc/nginx/nginx.conf
                subPath: nginx-config
                readOnly: true
      temp:
        type: emptyDir
        advancedMounts:
          tandoor:
            app:
              - path: /tmp
                subPath: app-tmp
              - path: /opt/recipes/cookbook/static/django_js_reverse
                subPath: django_js_reverse
