---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-secrets
spec:
  chart:
    spec:
      chart: *app
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
      version: 1.3.2
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  interval: 30m
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    installCRDs: true
    log:
      level: debug
    serviceMonitor:
      enabled: true
      interval: 1m
